.Bside a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}
.material-symbols-outlined{ float:right}
.Bside a:hover {left: 0}

body.gra .home { top: 20px; background-color: #04AA6D; }
body.gra .qac { top: 80px; background-color: #2196F3; }

body.dark .home { top: 20px; background-color: #00462c; }
body.dark .qac { top: 80px; background-color: #124e80; }

body.light .home { top: 20px; background-color: #02ffa2; }
body.light .qac { top: 80px; background-color: #008cff; }

.Qaccess {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}

.Qaccess .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .Qaccess {padding-top: 15px;}
  .Qaccess a {font-size: 18px;}
}

h2{
  color: #ffffff;
  }
body.dark button,
body.dark input[type=password],
body.dark input[type=text],
body.dark input[type=search],
body.dark #searchInput {
  background-color: #d8d7d7;
  border: 1px solid #535353;
  color: #000000;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
body.gra button,
body.gra input[type=password],
body.gra input[type=text],
body.gra input[type=search],
body.gra #searchInput {
  background-color: #000000;
  border: 1px solid #555555;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
body.light button,
body.light input[type=password],
body.light input[type=text],
body.light input[type=search],
body.light #searchInput {
  background-color: #000000;
  border: 1px solid #535353;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
iframe{
  width: 100%; 
  height: 100vh;
}
.gra{
  height: 100vh;
  width: 100%;
  cursor: pointer;
  background: linear-gradient(45deg, #ff00cc, #00ffcc, #cc00ff, #ff00cc);
  background-size: 400% 400%;
  animation: gradientAnimation 15s infinite;
  overflow-x: hidden;
  background-attachment: fixed;
  overflow-y: hidden;
}
.dark{
  height: 100vh;
  width: 100%;
  cursor: pointer;
  background: #000;
  background-size: 400% 400%;
  overflow-x: hidden;
  background-attachment: fixed;
}

.light{
  height: 100vh;
  width: 100%;
  cursor: pointer;
  background: #fff;
  background-size: 400% 400%;
  overflow-x: hidden;
  background-attachment: fixed;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

